/* BASE */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #1e1e1e, #121212);
    color:white;

    display:flex;
    justify-content:center;
}

/* CONTENEDOR */
.container{
    width:100%;
    max-width:420px;
    padding:20px;
}

/* TITULO */
h1{
    font-size:22px;
    margin-bottom:20px;
    text-align:center;
}

/* PASOS */
.paso{
    display:flex;
    flex-direction:column;
    gap:12px;

    background: linear-gradient(145deg, #2a2a2a, #1f1f1f);
    padding:16px;
    border-radius:16px;

    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}

/* INPUT */
input{
    padding:14px;
    border-radius:12px;
    border:1px solid #2a2a2a;
    background:#121212;
    color:white;
}

/* BOTONES */
button{
    padding:16px;
    border-radius:14px;
    border:none;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

button:active{
    transform:scale(0.96);
}

/* BOTONES PRINCIPALES */
#btnPaso1,
#btnPaso2,
#btnIniciar{
    background:#4362ec;
    color:white;
}

/* AGREGAR */
#agregarJugador{
    background:#22c55e;
    color:white;
}

/* LISTA */
#listaJugadores{
    list-style:none;
    padding:0;
}

#listaJugadores li{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#1e1e1e;
    padding:14px;
    border-radius:12px;
}

/* ELIMINAR */
#listaJugadores button{
    background:#e74c3c;
    padding:6px 10px;
    border-radius:8px;
}

/* RESUMEN */
#resumen{
    background:#1e1e1e;
    padding:14px;
    border-radius:12px;
}

/* TOAST */
.toast{
    position:fixed;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    background:#2a2a2a;
    color:white;
    padding:12px 16px;
    border-radius:10px;
    opacity:0;
    transition:0.3s;
}

.toast.show{
    opacity:1;
}
