/* BASE */
body{
    margin:0;
    font-family: system-ui, -apple-system, Arial;
    background:#121212;
    color:white;
}

/* CONTENEDOR */
.container{
    max-width:420px;
    margin:auto;
    padding:16px;
}

/* TITULO */
h1{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}

/* CARD GENERAL */
.card{
    background:#1e1e1e;
    border-radius:14px;
    padding:16px;
    margin-bottom:16px;
}

/* CONFIG */
.infoJuego{
    background:#1e1e1e;
    border-radius:14px;
    padding:16px;
    margin-bottom:16px;
}

.infoJuego p{
    margin:4px 0;
    font-size:14px;
    color:#ccc;
}

/* BOTÓN RONDA */
#siguienteRonda{
    margin-top:10px;
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    background:#2a2a2a;
    color:white;
}

/* INPUT */
input{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #2a2a2a;
    background:#1a1a1a;
    color:white;
    font-size:15px;
    margin-bottom:10px;
}

/* BOTÓN AGREGAR */
.add{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:none;
    background:#3b82f6;
    color:white;
    font-weight:bold;
}

/* LISTA */
#listaJugadores{
    list-style:none;
    padding:0;
}

/* CARD JUGADOR */
#listaJugadores li{
    background:#1e1e1e;
    border-radius:14px;
    padding:14px;
    margin-bottom:12px;
}

/* HEADER */
.jugadorHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.nombre{
    font-weight:600;
}

.puntos{
    color:#22c55e;
    font-weight:bold;
}

/* CONTROLES */
.controles{
    display:flex;
    gap:8px;
}

/* INPUT PUNTOS */
.controles input{
    flex:1;
    margin:0;
}

/* BOTONES + - */
#sumar,
#restar{
    width:45px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
    font-size:18px;
}

/* ELIMINAR */
.btnEliminar{
    background:#ef4444;
    border:none;
    border-radius:10px;
    width:36px;
    height:36px;
    color:white;
}

/* BOTÓN FINAL */
#finalizarPartida{
    width:100%;
    margin-top:20px;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#ef4444;
    color:white;
    font-weight:bold;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
}

.modalContenido{
    background:#1e1e1e;
    padding:20px;
    border-radius:12px;
    width:260px;
    text-align:center;
}

/* BOTONES */
button{
    cursor:pointer;
    transition:0.15s;
}

button:active{
    transform:scale(0.96);
}

#inputsPuntajes{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:10px;
}

#inputsPuntajes input{
    width:100%;
}

.acciones{
    position:fixed;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);

    width:90%;
    max-width:400px;

    display:flex;
    gap:10px;
}

#btnRonda{
    flex:1;
    background:#3b82f6;
    color:white;
    padding:14px;
    border-radius:12px;
}

#finalizarPartida{
    flex:1;
}
